<div class="home">

    <div class="brand">
        <div class="content-brand">
            <img src="../../../assets/img/computadora.png" alt="">
            <div class="home-presentation">
                <h1>Controla el registro de tus usuarios</h1>
                <h2>Desde tu Casa, Oficina, Trabajo</h2>
                <ul>
                    <li><i class="fas fa-phone"></i> Desde tu celular</li>
                    <li><i class="fas fa-tablet-alt"></i> Desde tu Tablet</li>
                    <li><i class="fas fa-laptop"></i> Desde tu computadora</li>
                </ul>
                <h2 class="gratis">Comienza tu prueba gratis <a href="">HOY</a> </h2>
            </div>
        </div>
    </div>

    <div class="servicios">
        <div class="servicio">
            <h3><i class="fas fa-running"></i> Rapidez</h3>
            <div class="circle-service first-c">
                <i class="fas fa-rocket"></i>
            </div>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum commodi labore incidunt deleniti in, facere</small>
            <div class="btn first-c">
                Leer Mas
            </div>
        </div>
        <div class="servicio">
            <h3><i class="fas fa-tools"></i> Soporte</h3>
            <div class="circle-service second-c">
                <i class="fas fa-toolbox"></i>
            </div>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum commodi labore incidunt deleniti in, facere</small>
            <div class="btn second-c">
                Leer Mas
            </div>
        </div>
        <div class="servicio">
            <h3><i class="fas fa-crop-alt"></i> Adaptable</h3>
            <div class="circle-service third-c">
                <i class="fas fa-balance-scale"></i>
            </div>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum commodi labore incidunt deleniti in, facere</small>
            <div class="btn third-c">
                Leer Mas
            </div>
        </div>
        <div class="servicio">
            <h3><i class="fas fa-shield-alt"></i> Seguridad</h3>
            <div class="circle-service fourt-c">
                <i class="fas fa-lock"></i>
            </div>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum commodi labore incidunt deleniti in, facere</small>
            <div class="btn fourt-c">
                Leer Mas
            </div>
        </div>
        <div class="servicio">
            <h3><i class="fas fa-disease"></i> Facil</h3>
            <div class="circle-service five-c">
                <i class="fas fa-project-diagram"></i>
            </div>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum commodi labore incidunt deleniti in, facere</small>
            <div class="btn five-c">
                Leer Mas
            </div>
        </div>
    </div>


</div>